@model TestTask.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<form asp-controller="Access" asp-action="Login" method="post">
    <h1>Login</h1>
    <input type="text" placeholder="UserName" asp-for="UserName"/>
    <input type="password" placeholder="Password" asp-for="Password"/>
    
    <button type="submit">Login</button>
    <br/>
    <a asp-action="Register">Register</a>
    
    @if (ViewData["ValidationMessage"] != null)
    {
        <br/>
        <br/>
        <label>@ViewData["ValidationMessage"]</label>
    }
</form>
</body>
</html>
